<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Slabo+27px|Source+Sans+Pro" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
    <body>
        <div>
            @RenderBody()
        </div>
        <nav class="navbar navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Marilyn Carlin</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li>
                                <a href="#portfolio">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>