.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    background-color: pink;
}
.navbar {
  background-color: red;
  width: 100vw;
  justify-content: space-between;
  height: 50px;
}
.navbar-brand {
    text-decoration: none;
    font-size: 30px;
    color: #FFF;
}
.navbar-nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
}
.navbar-nav li a:hover {
    text-underline-position: below;
    text-decoration: underline;
}

.homepage-parallax {
    background-image: url("../img/clouds.JPG");
    height: 1000px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-parallax {
    background-image: url("../img/snowflake.jpg");
    height: 1000px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

body .homepage-content {
    background-color: rgba(255, 254, 227, 0.6);
    width: 40%;
    height: 25%;
    margin: 0 auto;
    margin-top: 15%;
    box-shadow: 10px 8px 5px black;
}