.nav-wrapper {
    display: flex;
    justify-content: flex-end;
}
.navbar {
  background-color: rgba(201, 159, 152, 0.8);
  width: 100vw;
  justify-content: space-between;
  height: 50px;
}
.navbar-brand {
    text-decoration: none;
    font-size: 30px;
    color: #FFF8E8;
    font-family: 'Slabo 27px', serif;
}

.navbar-brand:hover {
    text-underline-position: below;
    text-decoration: underline;
    color: #FFF8E8;
}
.navbar-nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #FFF8E8;
    font-family: 'Slabo 27px', serif;
}
.nav li a:hover {
    text-underline-position: below;
    text-decoration: underline;
    background-color: rgba(201, 159, 152, 0);
}

.img1 {
    background-image: url("../img/clouds.JPG");
    height: 1000px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #2F3136;
    font-size: 800%;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 3px 3px 6px #000;
}

.about, .portfolio {
    color: #000;
    background-color: #FFF8E8;
    padding: 50px 80px;
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
}

.img2 {
    background-image: url("../img/kili.JPG");
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background-image: url("../img/snowflake.jpg");
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .img1, .img2, .img3 {
        background-attachment: scroll;
    }
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.portfolio-content {
  background: linear-gradient(to bottom left, #2F3136, #FFF8E8);
  margin: 20px;
  width: 300px;
  height: 250px;
  padding: 10px;
  border: 3px solid black;
}

.box {
  text-align: center;
  margin-top: 3%;
}

.box a, p {
    font-family: 'PT Sans', sans-serif;
    color: #000;
}