@{
    ViewBag.Title = "Top Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "about-parallax";
}

    <h3>About Me</h3>
    <p>My path to programming was not straightforward. As an undergraduate I studied Classics, with a focus on Latin and Ancient Greek. Before returning to school at Epicodus, I worked as an SAT/ACT tutor. I loved working one-on-one with clients, creating personalized lesson plans for each student. Though I loved working independently with clients, I wanted more creativity in my daily workflow, and to build a tangible product. It’s clear, even in the world of test-prep tutoring, that industry is moving towards technology, and I wanted to pursue a career in a dynamic field. Programming appealed to me because of its similarity to languages like Latin. I love the puzzle: piecing together the right pieces of information and focusing on the syntax and grammar of a language. In an effort to combine my love of complex language syntax and my desire for more workplace creativity, I joined the C# track at Epicodus.</p>
