@{
    ViewBag.Title = "Top Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="homepage-content">
    <h3>Hello this is my site</h3>
    <p>I am currently a student at Epicodus in Portland, Oregon, in the C#/.NET track. I have a strong focus on back-end languages, particularly C# and ASP.NET, with experience in Javascript, HTML, and CSS. I'm passionate about language, and love the puzzle and challenge, from an ASP.NET To-Do List to Herodotus' <em>HIstories</em>.</p>
</div>